<?xml version="1.0" encoding="UTF-8"?>
<config>
    <i18n>
        <resource name="jtheque-demo-module-2" version="1.0">
            <classpath>org/jtheque/demos/second/i18n/second_en.properties</classpath>
            <classpath>org/jtheque/demos/second/i18n/second_fr.properties</classpath>
        </resource>
    </i18n>
</config>